div{
    margin: 20px;
}
h2{
    margin-bottom: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.action-button {
    padding: 0.5rem 1rem; 
    margin-right: 1rem; 
    font-size: 1rem; 
    cursor: pointer;
  }
  
  .delete-button {
    color: white;
    background-color: red;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  