table{
    width: 100%;
    border-collapse: collapse
}
th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
button{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}