<section>
    <!-- MAIN CONTAINER -->
    <div id="container">
        <!-- SHOP NAME -->
        <div id="shopName"> <b>SHOP</b>LANE </div>
        <div id="collection">
            <div id="dashboard">
                <a [routerLink]="['/dashboard']" [queryParams]="{ username: username, isAdmin: isAdmin }">
                    <i class="fas fa-home" style="font-size:24px"></i> HOME 
                </a>
            </div>        </div>
            <!-- <div id="collection">
                <div id="clothing"><a href="clothing.html"><i class="fas fa-tshirt" style="font-size:24px"></i> CLOTHING </a></div>
            </div> -->
            <div *ngIf="isAdmin" id="admin">
                <div id="admin"><a [routerLink]="['/admin', { username: username, isAdmin: isAdmin }]"><i class="fas fa-users" style="font-size:24px"></i> USERS </a></div>
            </div>
            <div *ngIf="isAdmin" id="product">
                <div id="product"><a [routerLink]="['/products', { username: username, isAdmin: isAdmin }]"><i class="fas fa-cubes" style="font-size:24px"></i> Products </a></div>
            </div>
            <div id="user">
                <a [routerLink]="['/profile', { username: username, isAdmin: isAdmin }]"> <i class="fas fa-user-circle userIcon"></i> </a>
            </div> 
            <a [routerLink]="['/login']">
                <i class="fas fa-user-times" style="font-size:26px;color:red"></i>
            </a>
            
        </div>
</section>
