
$primary: #007bff; 
$secondary: #6c757d; 


.product-list .card {
    transition: transform 0.3s ease-in-out;
}

.product-list .card:hover {
    transform: translateY(-5px);
}

.empty-space {
    min-height: 20px;
}

.card-title-container {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    margin: 0;
    line-height: 1.5;
    white-space: normal;
}

.bold-title {
    font-weight: bold;
}

.medium-font {
    font-size: 0.9rem; 
}